{% extends '::base.html.twig' %}
{% block body %}
    <h1>{{translator.name}} {{translator.surname}}</h1><br>
    
    Contact information:<br>
    {{translator.email}}<br>
    {{translator.phone}}<br>
    <br>
    Pary językowe:<br>
    {#WYŚWIETLIĆ PARY JĘZYKOWE#}
    
    
    
    <br>
    <br>
    <a class="btn btn-primary" href='{{path('translations_translator_showall') }}'>Back to list</a>
    <a class="btn btn-primary" href='{{path('translations_translator_modify', {'id':translator.id}) }}'>Modify translator information</a>
    {% endblock %}
    
    
    
    {# TUTAJ DODAĆ LISTĘ WSZYSTKICH PROJEKTÓW TEGO TŁUMACZA#}
