{% extends '::base.html.twig' %}
{% block body %}
    <h1>{{client.name}}</h1><br>
    
    Address:
    {{client.street}} {{client.streetNo}} / {{client.flat}}<br>
    {{client.city}}
    
    <br>
    <br>
    <a class="btn btn-primary" href='{{path('translations_client_showall') }}'>Back to list</a>
    <a class="btn btn-primary" href='{{path('translations_client_modify', {'id':client.id}) }}'>Modify client information</a>
    {% endblock %}
    
    
    
    {# TUTAJ DODAĆ LISTĘ WSZYSTKICH PROJEKTÓW DLA TEGO KLIENTA#}
