{% extends '::base.html.twig' %}
{% extends '::web/numberOfSignsFunction.php' %}
{% extends '::web/quoteFunction.php' %}
{% block javascripts %}
    <script src="{{ asset('../web/jquery.js') }}"></script>
    <script src="{{ asset('../web/app.js') }}"></script>
{% endblock %}

{% block title %}Prepare a quote{% endblock %}

{% block body %}
    <h1> Prepare a quote </h1>

{{form_start(form)}}
{{form_widget(form)}}
{#<input type="submit" value="Evaluate">#}
{{form_end(form)}}

{% endblock %}
