{% extends '::base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('jquery.js') }}"></script>
    <script src="{{ asset('app.js') }}"></script>
{% endblock %}

{% block title %}Prepare a quote{% endblock %}

{% block body %}
    <h1> Prepare a quote </h1>

{{form_start(form)}}
{{form_widget(form)}}
{#<input type="submit" value="Quote" id="button">#}
{{form_end(form)}}

{% endblock %}
