{% extends '::base.html.twig' %}
{% block body %}
    <h1>{{project.projectName}} </h1><br>
    
    Project information:<br>
    <br>
    Client: {{project.client.name}}<br>
    Characters: {{project.length}}<br>
    Language pair: {{project.languagePair}}<br>
    Translator:{{project.translator}}<br>
    Proofreader:{{project.proofreader}}<br>
    <br>
    Grade:<br>
    

    
    
    
    <br>
    <br>
{#    <a class="btn btn-primary" href='{{path('translations_proofreader_showall') }}'>Back to list</a>
    <a class="btn btn-primary" href='{{path('translations_proofreader_modify', {'id':proofreader.id}) }}'>Modify proofreader information</a>#}
    {% endblock %}